<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auction.user.dao.AuctionDAO">

	<select id="getAllAuction" resultType="Auction">
		<![CDATA[
		select auc_no, auc_start_price, nvl(auc_finish_price,0) as auc_finish_price,to_char(auc_start_date, 'YYYY-MM-DD HH24:MI:SS') as auc_start_date, 
				to_char(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') as auc_finish_date, auc_mem_id, con_author, con_product, con_width, con_height,
				con_year, con_etc, att_rename
		from auction
		    join (select *
		    		from consignment 
		    			join attachment on (con_no = att_bno)
		    		where att_category = 2 and att_fno = 1) on (auc_cno = con_no)
		where sysdate between auc_start_date and auc_finish_date
        order by auc_no desc
		]]>
	</select>
	
	<select id="getAuctionDetail" resultType="Auction">
		select auc_no, auc_start_price, nvl(auc_finish_price,0) as auc_finish_price, to_char(auc_start_date, 'YYYY-MM-DD HH24:MI:SS') as auc_start_date, 
				to_char(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') as auc_finish_date, auc_mem_id, con_author, con_product, con_width, con_height,
				con_year, con_etc, att_rename
		from auction
		    join (select *
		    		from consignment 
		    			join attachment on (con_no = att_bno) 
		    		where att_category = 2 and att_fno = 1) on (auc_cno = con_no)
		where auc_no = #{aucNo}
	</select>
	
	<select id="getAuctionAttachment" resultType="Attachment">
		select *
		from attachment
		where att_bno = (select auc_cno
                        from auction
                        where auc_no = #{aucNo}) and att_status = 'Y' and att_category = 2 and (att_fno = 2 or att_fno = 3)
		order by att_fno
	</select>
	
	<update id="insertBid">
		update auction
		set auc_finish_price = #{bidMoney}, auc_mem_id = #{id}
		<![CDATA[
		where (auc_finish_price < #{bidMoney} or nvl(auc_finish_price,0) < #{bidMoney}) and auc_no = #{aucNo}
		]]>
	</update>

	<update id="returnUnsold">
		update member
		set mem_balance = mem_balance + #{beforeBidMoney}
		where mem_id = #{beforeId}
	</update>
	
	<update id="updateMoneyInsertBid">
		update member
		set mem_balance = mem_balance - #{bidMoney}
		where mem_id = #{id}
	</update>
	
	<insert id="insertBiddingDetail">
		insert into bidding_Detail values(bdd_seq.nextval, #{bidMoney}, #{aucNo}, #{id})
	</insert>
	
	<select id="likeCheck" resultType="int">
		select count(*)
		from bidding_interest
		where auc_no = #{aucNo} and mem_id = #{id}
	</select>
	
	<insert id="insertLike">
		insert into bidding_interest values(#{aucNo}, #{id})
	</insert>
	
	<delete id="deleteLike">
		delete from bidding_interest 
		where auc_no = #{aucNo} and mem_id = #{id}
	</delete>
	
	<select id="getMyInterestList">
		select *
		from bidding_interest
			join auction
	</select>
	
	
	
	
	<!-- adimin -->
	
	<select id="getAdminSearchList" resultType="Auction">
		select auc_no, auc_start_price, nvl(auc_finish_price,0) as auc_finish_price,to_char(auc_start_date, 'YYYY-MM-DD HH24:MI:SS') as auc_start_date, 
				to_char(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') as auc_finish_date, auc_mem_id, con_author, con_product, con_width, con_height,
				con_year, con_etc, att_rename
		from auction
		    join (select *
		    		from consignment 
		    			join attachment on (con_no = att_bno) 
		    		where att_category = 2 and att_fno = 1) on (auc_no = con_no)
		<if test="auctionStatus != null">
			<choose>
				<when test="auctionStatus == 'ongoing'">
					<![CDATA[
						where sysdate >= to_date(auc_start_date, 'YYYY-MM-DD HH24:MI:SS') and
	        				sysdate <= to_date(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') 
	        		]]>
				</when>
				<when test="auctionStatus == 'scheduled'">
					<![CDATA[
						where sysdate < to_date(auc_start_date, 'YYYY-MM-DD HH24:MI:SS')
	        		]]>
	        	</when>
	        	<when test="auctionStatus == 'end'">
					<![CDATA[
						where sysdate > to_date(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') 
	        		]]>
	        	</when>
	        	<otherwise></otherwise>
			</choose>
			<choose>
				<when test="searchType == all">
					and con_product like '%' ||  #{content} || '%' or con_author like  '%' ||  #{content} || '%'
				</when>
				<when test="searchType == 'work'">
					and con_product like '%' ||  #{content} || '%'
				</when>
				<when test="searchType == 'author'">
					and con_author like  '%' ||  #{content} || '%'
				</when>
			</choose>
			<if test="aucSS != null">
				<![CDATA[
					and to_date(auc_start_date, 'YYYY-MM-DD HH24:MI:SS') >= to_date(#{aucSS}, 'YYYY-MM-DD HH24:MI:SS')
				]]>
			</if>
			<if test="aucSE != null">
				<![CDATA[
					and to_date(auc_start_date, 'YYYY-MM-DD HH24:MI:SS') <= to_date(#{aucSE}, 'YYYY-MM-DD HH24:MI:SS')
				]]>
			</if>
			<if test="aucFS != null">
				<![CDATA[
					and to_date(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') >= to_date(#{aucFS}, 'YYYY-MM-DD HH24:MI:SS')
				]]>
			</if>
			<if test="aucFE != null">
				<![CDATA[
					and to_date(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') <= to_date(#{aucFE}, 'YYYY-MM-DD HH24:MI:SS')
				]]>
			</if>
		</if>
		<if test="auctionStatus == null">
			<choose>
				<when test="searchType == all">
					and con_product like '%' ||  #{content} || '%' and con_author like  '%' ||  #{content} || '%'
				</when>
				<when test="searchType == 'work'">
					and con_product like '%' ||  #{content} || '%'
				</when>
				<when test="searchType == 'author'">
					and con_author like  '%' ||  #{content} || '%'
				</when>
			</choose>
			<if test="aucSS != null">
				<![CDATA[
					and to_date(auc_start_date, 'YYYY-MM-DD HH24:MI:SS') >= to_date(#{aucSS}, 'YYYY-MM-DD HH24:MI:SS')
				]]>
			</if>
			<if test="aucSE != null">
				<![CDATA[
					and to_date(auc_start_date, 'YYYY-MM-DD HH24:MI:SS') <= to_date(#{aucSE}, 'YYYY-MM-DD HH24:MI:SS')
				]]>
			</if>
			<if test="aucFS != null">
				<![CDATA[
					and to_date(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') >= to_date(#{aucFS}, 'YYYY-MM-DD HH24:MI:SS')
				]]>
			</if>
			<if test="aucFE != null">
				<![CDATA[
					and to_date(auc_finish_date, 'YYYY-MM-DD HH24:MI:SS') <= to_date(#{aucFE}, 'YYYY-MM-DD HH24:MI:SS')
				]]>
			</if>
		</if>
	</select>
	
	
	<insert id="insertAuction">
		insert into auction values(auc_seq.nextval, #{aucStartPrice}, null, to_date(#{aucStartDate}, 'YYYY-MM-DD HH24:MI:SS'), to_date(#{aucFinishDate}, 'YYYY-MM-DD HH24:MI:SS'), #{aucNo}, null)
	</insert>
	
	<select id="getConsignmentInfo">
		select *
		from consignment
		where con_no = #{conNo}
	</select>
	
	
	<select id="getAttachment">
		select *
		from attachment
		where att_bno = #{conNo} and (att_fno = 1 or att_fno = 2 or att_fno = 3)
	</select>
	
	
	
	
	
	
</mapper>
