<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auction.user.dao.ConsignmentDAO">
	<insert id="insertConsignment" useGeneratedKeys="true">								<!-- 게시글 등록 -->
		<selectKey order="BEFORE" resultType="_int" keyProperty="conNo">
			select CON_SEQ.nextval from dual
		</selectKey>
		insert into CONSIGNMENT
		values (#{conNo}, #{conAuthor}, #{conProduct}, #{conWidth}, #{conHeight}, #{conYear}, #{conHope}, #{conEtc}, 
				default, default, sysdate, #{memId})
	</insert>
	   
	<insert id="insertAttm">															<!-- 첨부파일 등록 -->
		insert all
		<foreach collection="list" item="item">
			into attachment
			values(ATT_NEW, #{item.attRename}, default, #{item.attFno}, #{item.attCategory}, #{item.attBno})
		</foreach>
		select * from dual
	</insert>
	
	
	<select id="getListCount" resultType="_int">										<!-- 마이페이지 리스트 -->
		select count(*)	
		from consignment
		where CON_DEL_STATUS = 'Y' 	
	</select>
	
	<select id="selectConsignmentList" resultType="Consignment">						<!-- 마이페이지 리스트 -->
		select *
		from consignment
			 join Member using(mem_Id)
		where CON_DEL_STATUS = 'Y'
		order by CON_NO desc
	</select>
	
	<select id="searchCount" resultType="_int">											<!-- 조건 검색 -->
		select count(*)
		from CONSIGNMENT
			 join member using(mem_Id)
		where con_del_status = 'Y'
		<if test="select == '전체'">
			and (con_author like '%'|| #{keyword} ||'%' or con_product like '%'|| #{keyword} ||'%')
		</if>
		<if test="select == '작가명'">
			and con_author like '%'|| #{keyword} ||'%'
		</if>
		<if test="select == '작품명'">
			and con_product like '%'|| #{keyword} ||'%'
		</if>
	</select>
	
	<select id="searchList" resultType="Consignment">									<!-- 조건 검색 -->
		select *
		from CONSIGNMENT
			 join member using(mem_Id)
		where con_del_status = 'Y'	 		 
		<if test="select == '전체'">
			 and (con_author like '%'|| #{keyword} ||'%' or con_product like '%'|| #{keyword} ||'%')
		</if>
		<if test="select == '작가명'">
			 and con_author like '%'|| #{keyword} ||'%'
		</if>
		<if test="select == '작품명'">
			and con_product like '%'|| #{keyword} ||'%'
		</if>
		order by CON_CREATE_DATE desc
	</select>
	


	
	
	<select id="selectConsignment" resultType="Consignment">							<!-- 상세조회 -->
		select *
		from consignment
			 join member using(memId)
		where CON_DEL_STATUS = 'Y' and CON_NO = #{conNo}
	</select>
	
	<select id="selectAttmConsignmentList">												<!-- 상세조회 -->
		select *
		from attachment
		where ATT_STATUS = 'Y'
	</select>
	

	


	
	
</mapper>
