<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auction.member.dao.MemberDAO">
	
	<select id="checkId" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEM_ID = #{memId} AND MEM_STATUS = 'Y'
	</select>
	 
	<select id="checkNickName" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEM_NICKNAME = #{memNickName} AND MEM_STATUS = 'Y'
	</select>

	<insert id="insertMember">
		INSERT INTO MEMBER
		VALUES (#{memId}, #{memPwd}, #{memName}, #{memNickName}, DEFAULT, #{memAddress}, #{memPhone}, #{memEmail}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="login">
		SELECT *
		FROM MEMBER join grade on(GRA_NAME = MEM_RATING)
		WHERE MEM_ID = #{memId} AND MEM_STATUS = 'Y'
	</select>
	
	<select id="findMyInfo">
		SELECT *
		FROM MEMBER
		WHERE MEM_STATUS = 'Y'
		<if test="memId != null">
			AND MEM_ID = #{memId}
		</if>
		<if test="memName != null">
			AND MEM_NAME = #{memName}
		</if>
		<if test="memPhone != null">
			AND MEM_PHONE = #{memPhone} 
		</if>
		<if test="memEmail != null">
			AND MEM_EMAIL = #{memEmail}
		</if>
	</select>
	
	<update id="updatePwd">
		UPDATE MEMBER
		SET MEM_PWD = #{memPwd} 
		WHERE MEM_ID = #{memId}
	</update>
	 
	<insert id="insertAddress">
		INSERT INTO ADDRESS
		VALUES(SEQ_ADD.NEXTVAL, #{addName}, #{addRecipient}, #{addAddress}, #{addPhone}, #{addDefault}, #{memId})
	</insert>
	
	<update id="updateAddressDefault">
		UPDATE ADDRESS
		SET ADD_DEFAULT = #{addDefault}
		WHERE MEM_ID = #{memId}
	</update>
	
	<select id="selectAddressList">
		SELECT *
		FROM ADDRESS
		WHERE MEM_ID = #{id}
		ORDER BY ADD_DEFAULT DESC,
        ADD_NO DESC
	</select>
	
	<select id="selectAddress">
		SELECT *
		FROM ADDRESS
		WHERE ADD_NO = #{addNo}
	</select>
	
	<update id="updateAddress">
		UPDATE ADDRESS
		SET ADD_NAME = #{addName}, ADD_RECIPIENT = #{addRecipient}, ADD_ADDRESS = #{addAddress}, ADD_PHONE = #{addPhone}, ADD_DEFAULT = #{addDefault}
		WHERE ADD_NO = #{addNo}
	</update>
	
	<update id="deleteMember">
		UPDATE MEMBER
		SET MEM_STATUS = 'N'
		WHERE MEM_ID = #{memId}
	</update>
	
	<delete id="deleteAddress">
		DELETE ADDRESS
		WHERE ADD_NO = #{addNo}
	</delete>
	
	<update id="updateMember">
		UPDATE MEMBER
		<if test="memNickName != null">
			SET MEM_NICKNAME = #{memNickName}
		</if>
		<if test="memName != null">
			SET MEM_NAME = #{memName}
		</if>
		<if test="memEmail != null">
			SET MEM_EMAIL = #{memEmail} 
		</if>
		<if test="memPhone != null">
			SET MEM_PHONE = #{memPhone}
		</if>
		<if test="memAddress != null">
			SET MEM_ADDRESS = #{memAddress}
		</if>
		WHERE MEM_ID = #{memId}
	</update>
	
	<update id="updateMemImg">
		UPDATE MEMBER
		SET MEM_FILENAME = #{memFileName}
		WHERE MEM_ID = #{memId}
	</update>
	
	<update id="deleteMemImg">
		UPDATE MEMBER
		SET MEM_FILENAME = NULL
		WHERE MEM_ID = #{memId}
	</update>
	
	<select id="getListCount" resultType="_int"> 
		SELECT count(*)
		FROM MEMBER
	</select>
	
	<select id="selectMemberList" resultType="Member">
		SELECT *
		FROM MEMBER
		order by MEM_STATUS desc, MEM_DATE desc
	</select>
	
	
</mapper>