<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auction.member.dao.MemberDAO">
	
	<select id="checkId" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEM_ID = #{memId} AND MEM_STATUS = 'Y'
	</select>
	 
	<select id="checkNickName" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEM_NICKNAME = #{memNickName} AND MEM_STATUS = 'Y'
	</select>

	<insert id="insertMember">
		INSERT INTO MEMBER
		VALUES (#{memId}, #{memPwd}, #{memName}, #{memNickName}, DEFAULT, #{memAddress}, #{memPhone}, #{memEmail}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="login">
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId} AND MEM_STATUS = 'Y'
	</select>
	
	<select id="findMyInfo">
		SELECT *
		FROM MEMBER
		WHERE MEM_STATUS = 'Y'
		<if test="memId != null">
			AND MEM_ID = #{memId}
		</if>
		<if test="memName != null">
			AND MEM_NAME = #{memName}
		</if>
		<if test="memPhone != null">
			AND MEM_PHONE = #{memPhone} 
		</if>
		<if test="memEmail != null">
			AND MEM_EMAIL = #{memEmail}
		</if>
	</select>
	
	<update id="updatePwd">
		UPDATE MEMBER
		SET MEM_PWD = #{memPwd} 
		WHERE MEM_ID = #{memId}
	</update>
	
</mapper>