<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auction.user.dao.RecommendationDAO">					<!-- 문의 리스트 -->
	<select id="getListCount" resultType="_int">
		select count(*)
		from recommendation
		where REC_STATUS = 'Y'
	</select>
	
	<select id="selectRecommendationList" resultType="Recommendation">			<!-- 문의 리스트 -->
		select *
		from recommendation
		where REC_STATUS = 'Y' 
		order by REC_CREATE_DATE desc
	</select>
	
	<insert id="insertRecommendation" useGeneratedKeys="true">					<!-- 문의 등록 -->
		<selectKey order="BEFORE" resultType="_int" keyProperty="recNo">
			select REC_SEQ.nextval from dual
		</selectKey>
		insert into recommendation
		values (#{recNo}, #{recTitle}, #{recContent}, #{recStyle}, default, null, sysdate, #{memId})
	</insert>
	
	<insert id="insertAttm">													<!-- 문의(첨부) 등록 -->
		insert all
		<foreach collection="list" item="item">
			into attachment
			values(ATT_NEW, #{item.attRename}, default, #{item.attFno}, #{item.attCategory}, #{item.attBno})
		</foreach>
		select * from dual
	</insert>
	
	
	
	
</mapper>